body {
    text-align: center;
    background-color: #c7b299;

    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;

}

.container {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}

.promo {
    background-color: #382513;
    color: white;
}

.compte {
    visibility: hidden;
}

.mochaImg {
    height: 40%;
    width: 40%;
}

nav {
    background-color: #aa7b51;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.firstImg {
    width: 100%;
    height: auto;
}

.secondImg {
    width: 100%;
    height: auto;
}

.transition {
    background-color: #f3f3f3;
    height: 2px;
    width: 90%;
    margin: 30px auto;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column2 {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bouton {
    background-color: #aa7b51;
    width: 80px;
    height: 25px;
    color: white;
    margin-top: 10px;
}

p {
    text-align: left;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .promo {

        background-color: #aa7b51;
        text-align: left !important;
    }


    .container {
        background-color: white;
        margin: 0;
    }

    p {
        text-align: center;
    }

    .bouton {
        margin: auto;
    }

    .column {
        width: 100%;
    }

    .column2 {
        width: 100%;
    }

    .compte {
        background-color: #aa7b51;
        flex-direction: row-reverse;
        visibility: visible;

        background-color: #382513;
    }

}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .visible {
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .liste {
        display: list-item;
    }
}

.topnav {
    overflow: hidden;
    background-color: #aa7b51;
    font-size: 15px;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 3%;
    color: white;
    padding-top: 1%;
    padding-bottom: 2%;
}


.topnav a.active {
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}